[Unit]
Description=Gunicorn instance to serve your Flask app
After=network.target

[Service]
User=getdelv
Group=getdelv

WorkingDirectory=/opt/getdelv
Environment="PATH=/opt/getdelv/.venv/bin:/usr/bin:/bin"
Restart=always
RestartSec=5
ExecStart=/opt/getdelv/.venv/bin/gunicorn --workers 1 --bind 127.0.0.1:5000 --log-level=info --capture-output application:app

[Install]
WantedBy=multi-user.target
