[Unit]
Description=Gunicorn instance to serve your Flask app
After=network.target

[Service]
User=ubuntu
Group=ubuntu

WorkingDirectory=/path/to/project
Environment="PATH=/path/to/project"
Restart=always  # Ensure the service restarts if it crashes
RestartSec=5    # Delay before restarting the service
ExecStart=/path/to/project --workers 3 --bind 127.0.0.1:5000 application:app

[Install]
WantedBy=multi-user.target
